* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  color: white;
  background: rgb(27, 35, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-todo {
  width: 550px;
  min-height: 300px;
  background: #111827;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.div-input-button {
  margin: 24px;
  display: "flex";
  justify-content: "center";
  gap: 20px;
}

.header {
  padding: 8px;
  text-align: center;
  font-size: 1.5em;
}

p {
  color: #9ca3af;
  text-align: center;
  padding: 8px;
}

/* input field */
.input-field {
  width: 400px;
  background: #1f2937;
  color: white;
  padding: 10px;
  font-size: 1.45em;
  border-radius: 8px;
  border: 1px solid #374151;
  outline: none;
}

.input-field:focus {
  outline: 1px solid #30415b;
}

.add-button {
  background: #4f46e5;
  color: white;
  font-size: 1.2em;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  border: none;
}

.add-button:hover {
  opacity: 0.9;
}

/* div choices */
.options {
  margin: 12px 0 12px 28px;
  display: flex;
  gap: 15px;
}

.options button {
  background: #1f2937;
  color: #e5e7e6;
  padding: 10px;
  border-radius: 6px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.options button:hover {
  background: #374151;
}

/* to do  */

.empty-state,
.stats {
  width: 90%;
  box-sizing: border-box;
  text-align: center;
  color: #6b7280;
  border-radius: 8px;
  background: #1f2937;
}

.empty-state {
  min-height: 100px;
  margin: 0 auto;
  padding: 2rem;
}

.output-todo {
  padding: 10px;
}

.stats {
  width: 90%;
  box-sizing: border-box;
  text-align: center;
  color: #6b7280;
  background: #1f2937;
  border-radius: 8px;
}

.stats {
  margin: 15px auto;
  padding: 0.5rem;
}
